<div class='right-navigation'>
  <div class='js-toggle-button toggle-button visible-xs'>
    <span class='glyphicon glyphicon-option-vertical'></span>
  </div>
  <%= render_cms_navigation object %>
</div>
