<% unless object.body.squish.blank? %>
  <div class='right-contacts index'>
    <div class='title'>
      <%= @right_contacts.part_title %>
    </div>
    <div class='contacts'>
      <%= object.body.html_safe %>
    </div>
  </div>
<% end %>
