<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='cecutient-panel hide-on-normal'>
        <div class='setting-font-size'>
          <div>
            Размер шрифта:
            <span class='font-size'></span>
          </div>
          <div>
            <a class='reduce-font-size' href='#'>&ndash;</a>
            <a class='increase-font-size' href='#'>&plus;</a>
          </div>
        </div>
        <div class='setting-color'>
          <div>
            Цвет сайта:
          </div>
          <div>
            <a class='color-white' href='#'></a>
            <a class='color-black' href='#'></a>
            <a class='color-blue' href='#'></a>
          </div>
        </div>
        <div class='setting-images'>
          <div>
            Изображения:
          </div>
          <div>
            <a class='images-show' href='#'>Вкл.</a>
            <a class='images-hide' href='#'>Выкл.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
